#
# GitConfig
#

[init]
    defaultBranch = main

[url "git@github.com:"]
    insteadOf = git://github.com/

[user]

[core]
    # if you use windows
    #autocrlf = true

    # use aggressive compression
    # can make your repo smaller but can also be slow
    compression = 9

    # lets you define a global .gitignore for all those 
    # *.swp, *~, *.o, etc things that you're frequently 
    # sticking in .gitignore
    excludesfile = ~/.gitignore_global

    # tells git to ignore file permission changes
    filemode = false

    # lets you tweak the default pager
    # see `man less` for the meaning of these flags
    #pager = 'less -FRSX'

    # probably not a good default for most projects, 
    # but you should uncomment with something based on your needs
    #whitespace = tab-in-indent

    # editor
    editor = vim

[color]
    # this turns on default colors for many commands
    # or you can customize specific colors per command (see [3] for example)
    ui = true
    status = auto
    branch = auto

[rerere]
    # google `git rerere`, basically git remembers your
    # partial merge choices and replays them next time
    enabled = true
    autoupdate = true

[push]
    # lets you say just `git push origin` to push the current branch
    default = current 

[pull]
    ff = only

[branch]
    autosetuprebase = always

[rebase]
    autosquash = true

[merge]
    tool = opendiff

[mergetool "opendiff"]
    keepBackup = false
    trustExitCode = false
	
[diff]
    tool = opendiff

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch -av
    brdel = branch -D
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
